<footer>
  <div class="footer padding-section text-center">
    <div class="container">
      <div class="row g-5">
        <div class="col-md-4">
          <div class="location">
            <h3 class="heading-title">location</h3>
            <p class="text-heading">2215 John Daniel Drive</p>
            <p class="text-heading">Clark, MO 65243</p>
            <span></span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="about-web">
            <h3 class="heading-title">AROUND THE WEB</h3>
            <div class="icons d-flex gap-2 justify-content-center">
              <span class="icon"> <i class="fa-brands fa-facebook"></i> </span>
              <span class="icon"> <i class="fa-brands fa-twitter"></i> </span>
              <span class="icon">
                <i class="fa-brands fa-linkedin-in"></i>
              </span>
              <span class="icon"> <i class="fa-solid fa-globe"></i></span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="about-Freelancer">
            <h3 class="heading-title">ABOUT FREELANCER</h3>
            <p class="text-heading">
              Freelance is a free to use, licensed Bootstrap theme created by
              Route
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="site-copyright p-4">
  <p>Copyright © Your Website 2025</p>
</div>
