<div class="about-component">
  <div
    class="container height-section d-flex flex-wrap justify-content-center align-content-center align-items-center"
  >
    <app-star-shape> about component </app-star-shape>
    <div class="row px-5 pt-5">
      <div class="col-md-6 ps-md-5">
        <p class="mainParagraph">
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
      <div class="col-md-6 pe-md-5">
        <p class="mainParagraph">
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
    </div>
  </div>
</div>
