<div class="home-section">
  <div
    class="height-section container d-flex justify-content-center align-items-center"
  >
    <div class="main text-center flex-wrap align-items-center flex-column;">
      <div class="img">
        <img src="/avataaars.svg" alt="" width="64%" />
      </div>

      <app-star-shape>
        start Framework
        <!-- <p class="pstar">Graphic Artist - Web Designer - Illustrator</p> -->
        <p class="pstar w-100">Graphic Artist - Web Designer - Illustrator</p>
      </app-star-shape>
    </div>
  </div>
</div>
